In [ ]:
# data for the years to be assicated with each country sample
from WEVS.load_Data.load_and_correct_country_years import LoadAndCorrectCountryYears

'''
you may want to evaluate the assumptions underneath all of these functions. Always under review
'''

country_year = LoadAndCorrectCountryYears()
wave_median_years = country_year.median(0).round()

In [ ]:
from WEVS.load_Data.load_survey_data import LoadSurveyData

df_evs, df_wvs = LoadSurveyData()

In [25]:
e_w_overlap = np.intersect1d(df_evs.columns, df_wvs.columns)
e_w_overlap.shape

(523,)

In [22]:
pd.Series(e_w_overlap).to_csv('data/overlapping_questions_WVS_and_EVS.csv',index=None)

(523,)

In [ ]:
from WEVS.load_Data.load_values_and_demographics_dataframes import LoadValuesAndDemographicsDataFrames
from WEVS.load_Data.load_values_and_demographics_dataframes import FilterForCommonQuestions
import numpy as np

values_questions, dems_questions = LoadValuesAndDemographicsDataFrames()


dem_ques, vals_ques = FilterForCommonQuestions(values_questions, dems_questions, start_wave = 'wv1')

In [4]:
# ## save the values data for Rucketal variable extraction
from WEVS.Ruck_etal.generate_and_save_rucketal import GenerateAndSaveRucketalCulturalVariables

GenerateAndSaveRucketalCulturalVariables(df_evs, df_wvs, values_questions, dems_questions, start_wave = 'wv1')

proposed varaibles labels ['indv_rights', 'inst_conf', 'secular', 'politic_engage', 'prosocial', 'wellbeing', 'racism']
indv_rights ML1
Justifiable: Homosexuality    0.707653
Justifiable: Prostitution     0.616470
Justifiable: Abortion         0.754338
Justifiable: Divorce          0.772340
Justifiable: Euthanasia       0.572729
Justifiable: Suicide          0.523286
Name: ML1, dtype: float64
------------------------
inst_conf ML2
Confidence: Armed Forces          0.473639
Confidence: The Press             0.541913
Confidence: Labour Unions         0.582279
Confidence: The Police            0.594095
Confidence: Parliament            0.731818
Confidence: The Civil Services    0.733837
Confidence: Major Companies       0.539732
Name: ML2, dtype: float64
------------------------
secular ML7
Important child qualities: religious faith   -0.489482
Confidence: Churches                          0.620822
How often do you attend religious services    0.639986
Religious person                              0.741304
How important is God in your life            -0.813842
Name: ML7, dtype: float64
------------------------
politic_engage ML5
Political action: Signing a petition                          0.652734
Political action: joining in boycotts                         0.750934
Political action: attending lawful/peaceful demonstrations    0.721159
Name: ML5, dtype: float64
------------------------
prosocial ML4
Justifiable: Avoiding a fare on public transport    0.597844
Justifiable: Cheating on taxes                      0.722879
Justifiable: Someone accepting a bribe              0.665550
Name: ML4, dtype: float64
------------------------
wellbeing ML3
Feeling of happiness                     -0.591141
Satisfaction with your life               0.822931
How much freedom of choice and control    0.472815
Name: ML3, dtype: float64
------------------------
racism ML6
Neighbours: People of a different race    0.614442
Neighbours: Immigrants/foreign workers    0.776655
Name: ML6, dtype: float64
------------------------

In [10]:
import pandas as pd

rucketal = pd.read_csv('Ruck_etal/Rucketal_variables.csv',index_col=0)
df_dem = pd.concat([df_wvs,df_evs])[dem_ques]

In [12]:
'''
S002 = survey name
S003 = country
X002 = year of birth
'''

df_dem

,E033,F025,S002,S003,S017,S020,X001,X002,X003,X007,...,X023,X025,X026,X028,X036,X040,X043,X047CS,X049,X051
0,6.0,1.0,wv_1,Argentina,0.926626,1984.0,2.0,1926.0,58.0,1.0,...,12.0,NaN,NaN,4.0,33.0,1.0,NaN,NaN,NaN,NaN
1,5.0,1.0,wv_1,Argentina,0.926626,1984.0,2.0,1913.0,71.0,5.0,...,12.0,NaN,NaN,4.0,NaN,1.0,NaN,NaN,NaN,NaN
2,5.0,1.0,wv_1,Argentina,0.926626,1984.0,1.0,1929.0,55.0,5.0,...,14.0,NaN,NaN,1.0,33.0,1.0,NaN,NaN,NaN,NaN
3,4.0,1.0,wv_1,Argentina,1.352874,1984.0,1.0,1962.0,22.0,6.0,...,19.0,NaN,1.0,7.0,NaN,0.0,33.0,NaN,NaN,NaN
4,5.0,1.0,wv_1,Argentina,0.926626,1984.0,2.0,1918.0,66.0,1.0,...,12.0,NaN,NaN,5.0,NaN,0.0,23.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223094,NaN,3.0,ev_4,Kosovo,0.782164,2008.0,2.0,1984.0,24.0,1.0,...,18.0,5.0,NaN,1.0,NaN,NaN,NaN,91506.0,NaN,NaN
223095,NaN,NaN,ev_4,Kosovo,0.887335,2008.0,1.0,1958.0,50.0,1.0,...,18.0,5.0,NaN,1.0,NaN,NaN,NaN,91504.0,NaN,NaN
223096,5.0,3.0,ev_4,Kosovo,0.782164,2008.0,2.0,1985.0,23.0,1.0,...,30.0,5.0,NaN,1.0,NaN,NaN,NaN,91511.0,NaN,NaN
223097,NaN,3.0,ev_4,Kosovo,1.201044,2008.0,2.0,1974.0,34.0,1.0,...,18.0,4.0,NaN,1.0,NaN,NaN,NaN,91509.0,NaN,NaN
223098,NaN,3.0,ev_4,Kosovo,0.887335,2008.0,1.0,1957.0,51.0,1.0,...,18.0,6.0,NaN,7.0,NaN,NaN,NaN,91505.0,NaN,NaN

In [ ]:
# 372	Georgia
# 369	Ukraine
# 370	Belarus
COW_dict = {369:"Ukraine",370:"Belarus",372:"Georgia"}
COW_dict = {140:"Brazil",710:"China",160:"Vietnam"}

COW_NUM_LIST = COW_dict.keys()

ques = ["S002", "COW_NUM"]
vals = ["inst_conf"]

df_con = df[df.COW_NUM.isin(COW_NUM_LIST)]

inst_m = df_con.groupby(ques,as_index=False).median()
inst_low = df_con.groupby(ques,as_index=False).quantile(0.4)
inst_high = df_con.groupby(ques,as_index=False).quantile(0.6)

m = inst_m[ques+vals].rename(columns = {'inst_conf':'median'})
l = inst_low[ques+vals].rename(columns = {'inst_conf':'low'})
h = inst_high[ques+vals].rename(columns = {'inst_conf':'high'})

df_inst = pd.concat([m,l,h],1)
df_inst=df_inst.loc[:,~df_inst.columns.duplicated()]

df_inst['COW_NUM'] = df_inst['COW_NUM'].replace(COW_dict)

coun_wave = df_inst.groupby(["S002","COW_NUM"],as_index=False).size()[ques]
for ii in coun_wave.index.values:
    di = df_inst.loc[ii]
    coun_i = di["COW_NUM"]
    wave_i = di["S002"]

    year = countrys.loc[coun_i,wave_i]
    print(year)

    wave_vec = df_inst["S002"]
    wave_vec[(df_inst["S002"] == wave_i) & (df_inst["COW_NUM"] == coun_i)] = int(year)
    df_inst["S002"] = wave_vec

In [ ]:
countrys
coun_wave

In [ ]:
coun_i,wave_i

In [ ]:
import numpy as np

from matplotlib import cycler
from matplotlib.lines import Line2D
import matplotlib.pyplot as plt

colors = cycler('color',
                ['#EE6666', '#3388BB', '#9988DD',
                 '#EECC55', '#88BB44', '#FFBBBB'])
plt.rc('axes', facecolor='#E6E6E6', edgecolor='none',
       axisbelow=True, grid=True, prop_cycle=colors)
plt.rc('grid', color='w', linestyle='solid')
plt.rc('xtick', direction='out', color='gray')
plt.rc('ytick', direction='out', color='gray')
plt.rc('patch', edgecolor='#E6E6E6')
plt.rc('lines', linewidth=2)

colors = ['#EE6666', '#3388BB', '#9988DD', '#EECC55', '#88BB44', '#FFBBBB']
legend_elements = [
    Line2D([0], [0], color='#EE6666', lw=4, label="Ukraine"),
    Line2D([0], [0], color='#3388BB', lw=4, label="Belarus"),
    Line2D([0], [0], color='#9988DD', lw=4, label="Georgia")
]

f, ax  = plt.subplots()

for country in COW_dict.values():

    time_s = df_inst[df_inst["COW_NUM"] == country]
    time_s = time_s.sort_values("S002")

    x = time_s["S002"].values.astype(float)
    y = time_s["median"].values.astype(float)
    y_low = time_s["low"].values.astype(float)
    y_high = time_s["high"].values.astype(float)

    yerr=np.asarray([y_low, y_high])
    #yerr=np.asarray([time_s["low"].values, time_s["high"].values] )

    #ax.errorbar(x, y,  yerr=yerr)
    ax.plot(x, y,lw=3)
    ax.fill_between(x, y_low, y_high, alpha=0.5)

    ts = 15
    ax.set_xlabel('Year', fontsize=ts, color='gray')
    ax.set_ylabel('Institutional Confidence',fontsize=ts,  color='gray')
#ax.plot(x,y)
# marker=mark, markerfacecolor=color,markeredgecolor=color, ecolor=color, ms=12, mew=2,alpha=0.7)

plt.tight_layout()
ax.legend(handles=legend_elements, bbox_to_anchor=(1., 1.2), ncol=3, fontsize=14)

#plt.savefig("instiutional_conf_georgia_ukraine_belarus.pdf",  bbox_inches='tight')
#plt.close()
plt.show()

In [ ]:
3

In [ ]:
# 372	Georgia
# 369	Ukraine
# 370	Belarus
for cn in [2, 160,200]: #369, 370, 372, 
    COW_NUM = np.asarray([cn]) #, 369, 370, 372
    #COW_NUM = [710, 160]
    val = 'inst_conf'
    df_con = df[df.COW_NUM.isin(COW_NUM)]
    df_con = df_con#.groupby(['COW_NUM', "S002"],as_index=False)#.mean()
    df_con['inst_conf'] = df_con['inst_conf']*-1

    print('var', df_con["E033"].var())

    for n in range(5):
        extreme = df_con[(df_con["E033"] <= n) | (df_con["E033"] >= (10-n))].shape[0]
        moderate = df_con[(df_con["E033"] > n) | (df_con["E033"] < (10-n))].shape[0]
        print(COW_NUM, n, extreme/moderate)
    print('---------------------------')

# for w in df_con['S002'].unique():
#     df_i = df_con[df_con['S002'] == w]#[val]

In [ ]:
# 372	Georgia
# 369	Ukraine
# 370	Belarus
# 710 CHina
#160 Argentina

import matplotlib.pyplot as plt

COW_NUM = np.asarray([200]) #, 369, 370, 372
#COW_NUM = [710, 160]
val = 'inst_conf'
df_con = df[df.COW_NUM.isin(COW_NUM)]
df_con = df_con.groupby(['COW_NUM', "S002", "E033"],as_index=False).mean()
df_con['inst_conf'] = df_con['inst_conf']*-1

for w in df_con['S002'].unique():
    df_i = df_con[df_con['S002'] == w]#[val]

    plt.plot(df_i['E033'], df_i[val])
plt.show()

In [ ]:
df.COW_NUM.unique()

In [ ]:
#840001 US: White, non-Hispanic
# 840002 US: Black, Non-Hispanic
# 840003 US: Other, Non-Hispanic
# 840004 US: Hispanic
# 840005 US: Two plus, non-Hispanic

# 'X051' ethnic group
# E033 - political self placement

In [ ]:
# ['indv_rights','inst_conf','secular','politic_engage','public_spirit','wellbeing','racism']
df_usa.groupby('E033').mean()['inst_conf'].sort_values()

In [ ]:
questionsF[questionsF.iloc[:,1].isin(dem_ques)]